@using System.Collections
@using Microsoft.Ajax.Utilities
@model Hovis.Excellence.Web.Areas.MasterData.ViewModels.DocumentListViewModel

<header class="header headerWithTabs navbar bg-default">
    <div class="navbar-header mg-r-lg">
        <h3>
            Documents
        </h3>
    </div>
    <div class="clearfix"></div>

    <ul class="nav navbar-nav nav-tabs">
        @{ var countForHeadings = 1;}
        @foreach (var app in Model.Applications)
        {
            var panelId = "#panel" + app.Id;
            <li class="@(@countForHeadings == 1 ? "active" : "")">
                <a href="@panelId" data-toggle="tab">@app.Name</a>
            </li>

            countForHeadings++;
        }
    </ul>
</header>

<!-- content wrapper -->
<div class="content-wrap">
    <div class="row">
        <div class="col-lg-12">

            <div class="tab-content ">
                @{ var countForPanels = 1;}

                @foreach (var app in Model.Applications)
                {
                    var panelId = "panel" + app.Id;
                    <section class="tab-pane @(@countForPanels == 1 ? "active" : "")" id="@panelId">
                        @Html.ActionLink("Add New", "New", "Document", null, new { @class = "btn btn-success" })
                        <br />
                        <br />

                        @{
                    var docsForApplication = Model.Documents.Where(x => x.ApplicationId.Equals(app.Id));
                        }

                        @if (!docsForApplication.Any())
                        {
                            <p>No documents found</p>
                        }
                        else
                        {

                            <section class="panel">
                                <div class="panel-body no-padding">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th class="col-md-5 pd-l-lg">
                                                    <span class="pd-l-sm"></span>Title
                                                </th>
                                                <th class="col-md-2">Category</th>
                                                <th class="col-md-2">Type</th>
                                                <th class="col-md-2">Issue Number</th>
                                                <th class="col-md-2">Issue Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var doc in docsForApplication)
                                            {
                                                <tr>
                                                    <td>
                                                        @doc.Title &nbsp; &nbsp; <a href="@doc.FileLink" class="btn btn-success btn-xs" target="_blank">View</a>
                                                    </td>
                                                    <td>@doc.DocumentCategory.Name</td>
                                                    <td>@doc.DocumentType.Name</td>
                                                    <td>@doc.IssueNumber</td>
                                                    <td>
                                                        @doc.IssueDate.ToString("dd-MM-yyyy")
                                                    </td>

                                                    <td>
                                                        @Html.ActionLink("Edit", "Edit", "Document", new { id = doc.Id, area = "MasterData" }, new { @class = "btn btn-success btn-xs" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        }
                    </section>

                        countForPanels++;
                }
            </div>
        </div>
    </div>
</div>
<!-- /content wrapper -->