<ul>
    <li class="show-on-hover @(@Request.Url.AbsolutePath.StartsWith("/abcabc") ? "active" : "") ">
        <a href="@Url.Action("Index", "Home", new{area="Section"})">
            <span>Health & Safety</span>
        </a>
    </li>

    <li class="show-on-hover @(@Request.Url.AbsolutePath.StartsWith("/abcabc") ? "active" : "") ">
        <a href="@Url.Action("Index", "Home", new{area="Section"})">
            <span>Customer Loyalty</span>
        </a>
    </li>

    <li class="show-on-hover @(@Request.Url.AbsolutePath.StartsWith("/abcabc") ? "active" : "") ">
        <a href="@Url.Action("Index", "Home", new{area="Section"})">
            <span>Environment</span>
        </a>
    </li>
</ul>
<hr />

<ul>

    <li>
        <a href="mailto:compliance@hovis.co.uk" style="font-weight: bold; color:#ffe900">
            <span>Contact</span>
        </a>
    </li>
</ul>